body {
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-weight: 200;
    font-size: 18px;
/*    background-image: url('../img/mountain.jpeg');
    background-repeat: no-repeat;
    background-size: cover;*/
}

.container {
    margin-top: 160px;
    margin-bottom: 10px;
    width: 100%;
}

.avatar img {
    overflow: hidden;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.name {
    margin: 22px auto;
    font-size: 26px;
    font-family: Hanzipen SC;
    color: #666;
}

.slogan {
    margin: 20px auto;
}

.nav {
	display: block;
}

.item {
    display: inline-block;
    font-size: 16px;
}

.item a {
    color: #000000;
    font-family: Lantinghei SC;
}

.item span {
    color: #DCDCDC;
}

hr {
    border: none;
    height: 1px;
    max-width: 280px;
    margin: 15px auto;
    background-image: -webkit-linear-gradient(0deg, transparent, #d5d5d5, transparent);
}

.foot {
    font-size: 14px;
    font-family: Lantinghei SC;
    width: 100%;
    height:30px;
    position: absolute;
    bottom: 10;
}